	/* Container properties */
#scene {
   
   /* Positioning and dimensions */
   position: relative;
   top: 200px;
   left: 10px;
   width: 1000px;
   height: 300px;
   overflow: hidden;
   
   /* --- Gradient background --- */
   /* Solid fallback for old browsers */
   background: none;
   /* Firefox */
   background: -moz-linear-gradient(top, none, none);
   /* WebKit - Chrome and Safari */
   background: -webkit-linear-gradient(top, none, none);
   /* Internet Explorer 10 */
   background: -ms-linear-gradient(top, none, none);
   /* Opera */
   background: -o-linear-gradient(top, none, none);
   /* general syntax */
   background: linear-gradient(top, none, none);
}

.pub {
   /* image is 12 x 130 px */
   position: absolute;
   bottom: 0;
   left: 250px;
   
      /* Firefox */
   -moz-animation: bladeSpin 10s ease-in-out infinite;
   /* WebKit - Chrome and Safari */
   -webkit-animation: bladeSpin 10s ease-in-out infinite;
   /* Opera */
   -o-animation: bladeSpin 10s ease-in-out infinite;
   /* general syntax */
   animation: bladeSpin 10s ease-in-out infinite;
}
.beer {
   position: absolute;
   /* Animation properties to be added here */
   /* Firefox */
   -moz-animation: cloudDrift linear infinite;
   /* WebKit - Chrome and Safari */
   -webkit-animation: cloudDrift linear infinite;
   /* Opera */
   -o-animation: cloudDrift linear infinite;
   /* general syntax */
   animation: cloudDrift linear infinite;
}
.lrg {
   /* image is 130 x 67 px */
   top: 40px;
   left: -140px;
     /* Firefox */
   -moz-animation-duration: 40s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 40s;
   /* Opera */
   -o-animation-duration: 40s;
   /* general syntax */
   animation-duration: 40s;
}
.med {
   /* image is 100 x 52 px */
   top: 80px;
   left: -110px;
   /* Firefox */
   -moz-animation-duration: 30s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 30s;
   /* Opera */
   -o-animation-duration: 30s;
   /* general syntax */
   animation-duration: 30s;
}
.sml {
   /* image is 70 x 36 px */
   top: 10px;
   left: -80px;
   /* Firefox */
   -moz-animation-duration: 20s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 20s;
   /* Opera */
   -o-animation-duration: 20s;
   /* general syntax */
   animation-duration: 20s;
}


/* general syntax */
@keyframes beerSpin {
   from { transform: rotate(0deg); }
   to { transform: rotate(1440deg); }
}
/* Firefox */
@-moz-keyframes beerSpin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(1440deg); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes beerSpin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(1440deg); }
} 
/* Opera */
@-o-keyframes beerSpin {
   from { -o-transform: rotate(0deg); }
   to { -o-transform: rotate(1440deg); }
} 

/* general syntax */
@keyframes cloudDrift {
   from { transform: translateX(0px); }
   to { transform: translateX(540px); }
}

/* Firefox */
@-moz-keyframes cloudDrift {
   from { -moz-transform: translateX(0px); }
   to { -moz-transform: translateX(540px); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes cloudDrift {
   from { -webkit-transform: translateX(0px); }
   to { -webkit-transform: translateX(540px); }
} 
/* Opera */
@-o-keyframes cloudDrift {
   from { -o-transform: translateX(0px); }
   to { -o-transform: translateX(540px); }
}


.homeButton {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

@-webkit-keyframes glowing {
  0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}

@-moz-keyframes glowing {
  0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}

@-o-keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

.homeButton {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}