body {
    background-color: #eeebaa;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 25px;
}
ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

#usefulbutton{
	color: blue;
	background-color: red;
}
ul li {
    background-color: #167835;
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 15px; 
    
}


#buttonsDiv{
	
	position:relative;
	float: right;
    width: 100%;
	height: 50px;
	text-align: center;
	border: 1px dashed black;
	
}

#headerWrapper{
    /*border: 1px solid black;*/
    overflow: hidden;
	height: 100px;
}

#headerLogo {
	background-color: #dcdcdc;
    float:left;
	height:80px;
	width:150px;
	border: 1px solid black;
	font-size: 11px;
}

#headerTitle {
	background-color: #dcdcdc;
	text-align:center;	
	border: 1px solid black;
    overflow: hidden;
	height:80px;
 } 
 
#container{
	width: 100%;
    font-size: 12px;
    height: auto; 
    border: 1px dashed black;
	overflow: hidden;
}
#beers{
    width: 60%;
    float:left;
    font-size: 12px;
    height: auto; 
    border: 1px dashed black; 
	background-color: #ffffff;
}

#overview{
	position:relative;
	float: left;
    width: 20%;
	height: 100%;
    text-align: left;
   border: 1px dashed black;
     
}
#price{
	position:relative;
	float: left;
    width: 10%;
	height: 100%;
    text-align: left;
   border: 1px dashed black; 
    }

#amount{
	position:relative;
	float: left;
    width: 5%;
	height: 100%;
    text-align: left;
   border: 1px dashed black; 
    }
#amountPrice{
	position:relative;
	float: left;
    width: 2%;
	height: 100%;
    text-align: left;
   border: 1px dashed black; 
    }    
    
#total{
	position: static;
	float: right;
	bottom: 0px;
	margin-right:50px;
    width: 5%;
	height: 100%;
    text-align: center;
    background-color: green;
    border: 1px dashed black; 
    
    }
    
.imageDiv{

	float: left;
	width: 30%;
	height: 130px;
	font-size: 18px;
	text-align: center;
	padding-bottom: 40px;

}
   
.centerDiv{
	width: 100%;
    font-size: 12px;
    height: 20px;
    text-align: center;
    /* border: dotted; */

}    



.orderItem {
	
    font-size: 12px;
    float:left;
    width:100%;
    text-align: left;
    /* border:dotted; */
}

.titleDiv{
	position:relative;
	width: 66%;
	height: 10%;
	font-family: Arial;
    font-size: 24px;

}    
#title1{
	padding: 10px;
	position:relative;
    float: left;
    width: 30%;
    text-align: right;

}

#title2{
	background-color: #eeebbb;
	padding: 10px;
	text-decoration: underline;
	position:relative;
    float: left;
    width: 40%;
    text-align: center;

}

#title3{
	background-color: #eeebbb;
	padding: 10px;
	text-decoration: underline;
	position:relative;
    float: left;
    width: 20%;
    text-align: center;

}
.inStock{
	position: relative;
	width: 66%;
	height: 90%;
	font-size: 20px;
	font-family: Verdana;
	
}
.checkForm{
	
	padding: 10px;
	position:relative;
    float: left;
    width: 30%;
    text-align: right;

}

.beerNameDiv{
	background-color: #eeebbb;
	position: relative;
	border: 1px solid black;
	padding: 10px;
    float: left;
    width: 40%;
    text-align: center;

}
.beerOutNameDiv{
	background-color: #FF9933;
	position: relative;
	border: 1px solid black;
	padding: 10px;
    float: left;
    width: 40%;
    text-align: center;
}

.countDiv{
	background-color: #eeebbb;
	position: relative;
	border: 1px solid black;
	padding: 10px;
    float: left;
    width: 20%;
    text-align: center;
}

.countOutDiv{
	background-color: #FF9933;
	position: relative;
	border: 1px solid black;
	padding: 10px;
    float: left;
    width: 20%;
    text-align: center;
}

.nameDiv{
	
	float: left;
    width: 20%;
    height: 130px;
    font-size: 18px;
    text-align: center;
    /* border: dotted; */
    
}



input[type=checkbox] {
	/* All browsers except webkit*/
	transform: scale(1.5);

	/* Webkit browsers*/
	-webkit-transform: scale(1.5);
}




#PurchaseHistory{
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
	
}

.btn {
	display: inline-block;
	padding: 0.4em 1.2em;
	/*background: #08c;*/
	background: #6B4513;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, sans-serif;
	border-radius: 4px;
}
      
	.btn.disabled {
	background: #ccc;
	color: #555;
}
      
	p .btn {
	margin-right: 0.5em;
}


