body {
    background-color: #d0e4fe;
}

h1 {
    color: #1f32a9;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 25px;
}
ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
#usefulbutton{
	color: blue;
	background-color: red;
}
ul li {
    background-color: #167835;
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 15px; 
}

.headerDiv {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background-color: #c219a6;
	text-align:center;	
	
 } 
 
#container{
    width: 100%;
    font-size: 12px;
    height: 150px; 
    border: dotted;
    
}

 #imageDiv{
	width: 100%;
    font-size: 12px;
    height: 150px;
    text-align: center;
    border: dotted;
   
#centerDiv{
	
	width: 100%;
    font-size: 12px;
    height: 20px;
    text-align: center;
    border: dotted;

}    
	
	}

.nameDiv{
	float: left; 
    width: 13%;
    height: 130px;
    font-size: 18px;
    text-align: center;
    border: dotted;
    
    	
}
#inStock{
	
	width: 66%;
	font-size: 20px;
	font-family: Verdana;
	
}

.checkForm{
	position:relative;
    float: left;
    width: 5%;
	height: 100%;
    text-align: left;

}

.beerNameDiv{
	position:relative;
    float: left;
    width: 40%;
	height: 100%;
    text-align: left;
   
}

.countDiv{
	position: relative;
    float: left;
    width: 55%;
	height: 100%;
    text-align: left
   
}

