<p><label class="caption">Username:</label> <input type="text" class="shadow" id="username"/></p>
<p><label class="caption">Password:</label><input type="password" class="shadow" id="password" /></p>
<p><label></label><input type="submit" value="Sign In" class="button" id="signin" /> </p>